# ---- Terraform ----
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
*.tfvars.json
.terraform.lock.hcl

# ---- Mac OS ----
.DS_Store

# ---- Python ----
__pycache__/
*.py[cod]
*$py.class
*.env
.env
.venv/
venv/
ENV/
env/
.pytest_cache/
